<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="assets/favicon/favicon.svg">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="spacexipo.site">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <title>SpaceX IPO</title>
    <meta name="keywords" content="spacex, spacexipo, meme coin, dexscreener, pump.fun, social media links">
    <meta name="description" content="The SpaceXIPO coin celebrates the launch of $SPCX.">

    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.spacexipo.site/">
    <meta property="og:title" content="SpaceXIPO | Celebrating #SPCX">
    <meta property="og:description" content="The SpaceXIPO coin celebrates the launch of $SPCX.">
    <meta property="og:image" content="https://www.spacexipo.site/assets/card.jpg" alt="Launch celebratory SpaceXIPO coin">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="SpaceXIPO">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SpaceXIPO | Celebrating $SPCX">
    <meta name="twitter:description" content="PThe SpaceXIPO coin celebrates the launch of $SPCX.">
    <meta name="twitter:image" content="https://www.spacexipo.site/assets/card.jpg">

    <!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet">-->

    
</head>

<body>

    <header>
        <div class="logo">SpaceX IPO</div>
        <nav class="navbar">
            <!-- Mobile Menu Toggle (Hamburger) -->
            <button class="menu-toggle" aria-label="Toggle Navigation">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>

            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="https://x.com/spacexipo_coin"><i class="fa-brands fa-xl fa-twitter"></i></a></li>
                <li><a href="https://t.me/spacexipo_coin"><i class="fa-brands fa-xl fa-telegram"></i></a></li>
                <li><a href="#ipo">IPO</a></li>
                <li><a href="#offering">Offering</a></li>
                <li><a href="#coin">Coin</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero" id="launch">
        <div class="content">
            <div class="kicker">Invest in Exploration</div>
            <h1>Celebrating the launch</h1>
            <p>In 2020, SpaceX returned America's ability to fly NASA astronauts to and from the International Space
                Station on
                American vehicles.</p>
            <p>
                The SpaceXIPO coin celebrates the launch of $SPCX.
            </p>

            <!-- The text element to copy -->


            <!-- The trigger button -->
            <a onclick="copyText()" class="btn">
                <h3>CA</h3>
                <div>Click to copy:</div>
                <div id="textToCopy">0xXXd5934Ce90228B9B7cE03999b81069ab629XXXX</div>
            </a>
            <div style="padding: 20px;">
                Join us at:&#160;&#160;&#160;&#160;&#160;&#160;<a href="#"><i style="color:#fff" class="fa-brands fa-3x fa-twitter"></i></a>&#160;&#160;&#160;&#160;&#160;&#160;
                <a href="#"><i style="color:#fff" class="fa-brands fa-3x fa-telegram"></i></a>
            </div>

    </div></section>

    <section class="section starship" id="ipo">
        <div class="content">
            <div class="kicker">SpaceX IPO</div>
            <h2>$SPCX</h2>
            <p></p>
            <p>
                SpaceX was listed on the Nasdaq under the ticker symbol
                $SPCX on June 12, 2026. The company intended to raise $75 billion by selling 555.6 million shares at
                $135 apiece,
                targeting a mind-boggling
                valuation of roughly $1.75 trillion. However, after a day of trading the stock now values the company at
                $2.1 trillion.
            </p>
            <!--<a href="#" class="btn">Learn More</a>-->
        </div>
    </section>

    <section class="section human" id="offering">
        <div class="content">
            <div class="kicker">Access</div>
            <h2>A non-traditional offering</h2>
            <p>
                Unlike standard IPOs where financial institutions dominate, SpaceX is offering individual investors up
                to 30% of the deal at the
                same price. Brokerages like Robinhood, Fidelity, and SoFi have lowered their minimum participation
                requirements
                to as little as $2,000.
            </p>
            <p>Because of the listing's enormous scale, the Nasdaq-100 has created a new fast-entry rule allowing SpaceX
                to join the
                benchmark after just 15 days of trading.</p>
            <!--<a href="#" class="btn">Join Mission</a>-->
        </div>
    </section>

    <section class="section network" id="coin">
        <div class="content">
            <div class="kicker">The SpaceX IPO Coin</div>
            <h2>From Launch to Orbit</h2>
            <p>
                SpaceXIPO coin is intended to sustain growth by transitioning from initial hype to continuous trading
                activity..
            </p>
            <a href="http://www.spacex.com" class="btn">SpaceX</a>
        </div>
    </section>

    <footer>
        <p>©2026 <i>This SpaceXIPO</i> meme coin has no affiliation with SpaceX, intrinsic use, fundamental value,
            or
            known
            future
            yield. It is classified as
            a digital
            collectible meant for novelty and entertainment, rather than a traditional financial investments or
            security.</p>
    </footer>

</body>

</html>
